* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #4D4D4D-grey,#ECB653-yellow,#734062-purple,#E9ECEF-white,#000000-black*/
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;600&display=swap");
/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
body {
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/***************** shared form style *********************/

.yesButton,
.noButton,
input[type="submit"] {
  background-color: #ecb653;
  width: 40%;
  height: 3rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.signUp,
.signIn {
  background-color: #ecb653;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  margin-left: 20rem;
  border-radius: 50%;
  color: black;
}
/***************** FORM COMPONENT *********************/

form {
  background-color: #734062;
  height: 90vh;
  width: 50%;
  padding-bottom: 1rem;
  color: beige;
  border-radius: 5px;
  margin: auto;
  padding: 3rem;
}

.form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.form-field:first-child {
  padding-top: 1.5rem;
}
label {
  display: block;
  width: 30%;
}

input,
textarea,
select {
  font-family: "Roboto", sans-serif;
  width: 60%;
  font-size: 1.5rem;
  border-radius: 5px;
  text-transform: capitalize;
  height: 3rem;
  padding-left: 1rem;
}
textarea {
  height: 8rem;
  padding-top: 1rem;
}
input[type="submit"] {
  font-size: 1.2rem;
  margin: 2rem;
  margin-left: 35%;
  width: 30%;
}

@media (max-width: 800px) {
  .App {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .App {
    width: 95%;
    font-size: 1.2rem;
  }

  .form-field {
    display: flex;
    flex-direction: column;
  }
  label {
    width: fit-content;
  }
  input,
  textarea,
  select {
    height: 2rem;
    font-size: 1rem;
  }
  .line {
    height: 2.2rem;
  }
  h3 {
    padding: 0.5rem 0;
  }
  .view p {
    line-height: 2rem;
    padding-left: 0.5rem;
    font-size: 1rem;
  }
  span {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
}
@media (max-width: 320px) {
  .App {
    font-size: 1rem;
  }
  label,
  input,
  textarea,
  select {
    width: 90%;
  }
  textarea {
    height: 5rem;
  }
  .box {
    width: 100%;
  }
  .view p {
    padding-left: 0;
  }
  span {
    padding-left: 0.2rem;
  }
  .show-input {
    font-size: 0.5rem;
  }
}
